<div style="display: flex; justify-content: center;">
  <form style="width: 30%;" (ngSubmit)="cargarVehiculo(formReg)" #formReg="ngForm">
    <div class="form-group">
      <label>Placa</label>
      <input type="text" class="form-control" name="Placa" placeholder="Ingrese Placa" [(ngModel)]="vehiculo.placa" #placa="ngModel" (click)="successrefresh()" required minlength="6" maxlength="6">
      <!-- <div class="alert alert-danger" role="alert" [hidden]="formReg.valid || formReg.pristine">
        Debe ingresar la placa del vehiculo.
      </div> -->
      <!-- placa.dirty -->
      <span *ngIf="placa.invalid && placa.touched">
        <div class="alert alert-danger" *ngIf="placa.errors?.['required']">
          Debe ingresar la placa del vehiculo.
        </div>
        <div class="alert alert-danger" *ngIf="placa.errors?.['minlength'] || placa.errors?.['maxlength']">
          Debe contener 6 caracteres.
        </div>
      </span>
    </div>
    <div class="form-group" *ngIf="!salida">
      <label>Zona</label>
      <input type="number" class="form-control" name="Zona" placeholder="Zona" [(ngModel)]="vehiculo.zona" #zona="ngModel" required min="1" [max]="cantidadZonas">
      <span *ngIf="zona.invalid && zona.touched">
        <div class="alert alert-danger" *ngIf="zona.errors?.['required']">
          Debe ingresar la zona.
        </div>
        <div class="alert alert-danger" *ngIf="zona.errors?.['min'] || zona.errors?.['max']">
          zona invalida.
        </div>
      </span>
    </div>
    <div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="ingreso" name="tipoR" [value]="false" [(ngModel)]="salida" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="ingreso">Ingreso</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="salida" name="tipoR" [value]="true" [(ngModel)]="salida">
        <label class="form-check-label" for="salida">Salida</label>
      </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="successFull">
      Registro satisfactorio
    </div>
    <div style="display: flex; justify-content: space-around; margin-top: 8px;">
      <button type="button" class="btn btn-secondary" (click)="clear(formReg)">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!formReg.form.valid">Aceptar</button>
    </div>
  </form>
</div>

<div style="display: flex; justify-content: space-around; margin-top: 20px;">
  <div style="width: 50%; border: 1px solid; border-radius: 10px;">
    <h5 style="text-align: center;">Zonas</h5>
    <table class="table table-striped">
        <tr>
          <th>Numero</th>
          <th>Cantidad</th>
          <th>Disponibles</th>
          <th>Tipo</th>
        </tr>
        <tr *ngFor="let item of variablesGlobales.zonasReg">
          <td>{{item.numero}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.disponibles}}</td>
          <td>{{auxTipoVehiculo[item.tipo]}}</td>
        </tr>
    </table>
  </div>

  <div style="margin-left: 20px; width: 30%; border: 1px solid; border-radius: 10px;">
    <h5 style="text-align: center;">Registros de ingresos</h5>
    <table class="table table-striped">
      <tr>
        <th>Placa</th>
        <th>Zona</th>
      </tr>
      <tr *ngFor="let item of listVehiculoZona">
        <td>{{item.placa}}</td>
        <td>{{item.zona}}</td>
      </tr>
    </table>
  </div>
</div>